 <!-- The sidebar -->
 <div class="sidebar">
    <a [routerLink]='"."' fragment="content-top" class="active">Video Personalization Platform</a>
    <a [routerLink]='"."' fragment="introduction">What is a CDN?</a>
    <a [routerLink]='"."' fragment="problem">The problem: context & objectives</a>
    <a [routerLink]='"."' fragment="areas">Areas of activity</a>
    <a [routerLink]='"."' fragment="keywords">Keywords</a>
  </div>

<!-- Page content -->
<div class="content">

<h1 id="content-top">Video Personalization Platform</h1>

<table id="top-table">
    <tr>
      <th>Context</th>
      <th>Content Delivery Networks (CDN)</th>
    </tr>
    <tr>
        <td>Framework</td>
        <td>Research & Development in: Telecommunications - Multimedia distribution - Advertising</td>
    </tr>
    <tr>
      <td>Dates</td>
      <td></td>
    </tr>
    <tr>
      <td>Activity summary</td>
      <td>Development of new product for customizing CDN delivery</td>
    </tr>
</table> 

<h2 id="introduction">What is a CDN?</h2>


<h2 id="problem">The problem: context & objectives</h2>

<p>Video Personalization Platform</p>
<p>(Product development within the content delivery network of the customer Nokia / Alcatel-Lucent)</p>

<p>
    Velocix Personalization Platform (VPP) is a new product that Nokia (formerly Alcatel-Lucent, before 2016) develops within its video business unit as part of its R&D strategy. This product is integrated in the CDN (Content Delivery Network) solution with the aim of providing those mechanisms that are necessary for performing dynamically one or several transformations of the audiovisual content requested by each user in the time of delivery, in a way that each user can consume a personalized content instead of the original one and based on a set of parameters that define the personalization.
</p>


<b>Objectives:</b>

<ul>
    <li>Elaborate an scalable infrastructure able to transform audiovisual content in real time in the phase of delivery and according to a set of parameters obtained either from the user request or from external services.</li>
    <li>Define and implement the mechanisms for obtaining the data that are necessary for performing each personalization.</li>
    <li>Build an interface that allows to use a set of transformations in accordance with the available parameters.</li>
    <li>Perform transformations in the context of the specification HLS (Apple's HTTP Live Streaming).</li>
    <li>Perform transformations in the context of the specification MSS (Microsoft's Smooth Streaming).</li>
    <li>Guarantee that the solution is extensible to other specifications in the future (for instance DASH - Dynamic Adaptive Streaming over HTTP).</li>
    <li>Offer the next transformations: ad insertion in video-on-demand content, ad insertion in live content, different modalities of blackout, alternative content, bandwidth limitation, access control and content encryption, emergency alerts, etc.</li>
    <li>Be compatible with other systems by means of REST interfaces (HTTP).</li>
    <li>Integrate within the content delivery network Velocix.</li>
    <li>Deliver a competitive performance rate.</li>
    <li>Support highly variable specifications and customer requirements.</li>
</ul>

<h2 id="areas">Areas of activity</h2>


<b>To delete probably</b>

Mission Environment (according to ACM)
Business Department
*

    Research & Development

Product/Service
*

    Enginnering

Segment
*

    Media - Entertainment

Areas of Activities
Activities Performed (up to 3)
*

1 - Research, Innovation & Watch
2 - Consulting - Technical

    3 - Development

Skill Areas
Skill Areas (up to 3)
*

1 - Engineering for media and telecommunication industries
2 - Digital Applications & Media - Software application development - Custom application
3 - Digital Applications & Media - Media engineering - Content engineering


Key words: Software engineering. Content Delivery Networks. Video systems.





<b>Approach & Achievements</b>
<p>
    I joined Altran for delivering value to its customer Nokia in this project, in a full-time basis. My main responsibilities were:
</p>

<ul>
    <li>Developing software, carrying out tasks mainly related with coding, system integration and testing.</li>
    <li>Studying specifications for video streaming, like HLS and MSS, and researching how transformations of content based in such specifications can be done within the CDN.</li>
    <li>Designing and implementing the Personalization Engine, the component that implements the business logic of the transformations.</li>
    <li>Implementing simulators of third-party components, in order to allow early testing of the solutions when the original component is not available.</li>
    <li>Developing personalization algorithms for the next transformation: ad insertion in video on demand content, ad insertion in live content, segment/fragment based blackout, manifest based blackout, alternative content in live content.</li>
    <li>Debugging workflows, integrations and bug fixing.</li>
    <li>Preparing proofs of concept (PoCs) for customers of Nokia (e.g. Time Warner Cable, Vodafone, Layer3 TV and Century Link). Sometimes, doing software integration tasks and demonstrations on-site.</li>
</ul>

<p>
    Summarizing, I used the following tools and knowledge for accomplishing our objectives:
</p>

<ul>
    <li>Multimedia protocols and specifications (IPTV, TS, HLS, MSS, DASH, etc.)</li>
    <li>Advanced software engineering (e.g. agile methodologies like Scrum, design patterns, unit tests, continuous integration, etc.).</li>
    <li>Development in C, C++ and Python.</li>
    <li>Integrated development environments like Eclipse and editors like Notepad++, VI and VIM.</li>
    <li>Debugging and analysis tools like GDB, CGDB and Valgrind.</li>
    <li>Reviewboard and P4V for code reviews.</li>
    <li>Unit testing using Google Test framework.</li>
    <li>Documentation tools like Doxygen and Confluence.</li>
    <li>Software libraries (e.g. Flask, legacy libraries).</li>
    <li>Strategies for doing end-to-end testing (both manual and automatic).</li>
    <li>Operating systems based on Linux (RedHat, CentOS).</li>
    <li>Integration tests with JMeter and Postman.</li>
    <li>Communication networks, protocols (e.g. HTTP and ICAP) and content delivery networks.</li>
    <li>Network sniffers and analyzers (Wireshark, Fiddler, tcpdump).</li>
    <li>Version control systems like Perforce and GIT.</li>
    <li>Virtual Machines (KVM, VirtualBox) and remote access.</li>
    <li>Web applications, web services and architectures of microservices.</li>
    <li>Video players like VLC.</li>
    <li>Scripting in Linux and Windows.</li>

</ul>


<b>Results & Added Value</b>

    <p>
        During 2015 the effectiveness of the components Personalization Manager and Session Tracker was consolidated (they are other important components of the platform) . This allowed to start the development of the component Personalization Engine and thus this was the moment were I joined the project, focused on such compoenent. Throughout time the Personalization Engine has been improved and developed, adding new personalization capabilities and new features to the product. I left the project in April 2017 due to an offshoring decision.
    </p>

    <p>As a result of the period when I was involved, currently:</p>

    <ul>
        <li>The Personalization Engine (and then the VPP) is able to perform the following transformations: ad insertion in video on demand content, ad insertion in live content, segment/fragment based blackout, manifest based blackout, alternative content in live content. All these transformations work for HLS and only blackout works with MSS.</li>
        <li>The Personalization Engine includes mechanisms for availability management, logging, debugging, etc.; following the design of the CDN.</li>
        <li>The Personalization Engine is highly tested, basically by means of a complete set of unit tests (as well as integration and performance tests).</li>
        <li>The software architecture and the code of the Personalization Engine is easier to understand, modify and expand.</li>
        <li>A complete integration of the VPP in the Velocix CDN was carried out.</li>
        <li>The first proof of concepts of the whole product were done to potential customers of Nokia (e.g. Vodafone, Time Warner Cable, Century Link, Layer3 TV), after doing some development effort in order to integrate with their systems.</li>
    </ul>

<p>
    As a consequence, we can conclude that thanks to our R&D efforts, Nokia has got a product that is far from a minimum viable product and therefore the VPP can be currently employed for offering extra functionalities within its CDN. Moreover, the state of the VPP as a software engineering continous process outdoes any previous state and new requirements can be included and tested easier and faster.
</p>


<h2 id="keywords">Keywords (tools & techniques)</h2>

<ul>
    <li>C/C++</li>
    <li>Linux</li>
    <li>Python</li>
    <li>Perforce</li>
    <li>GTest</li>
    <li>Eclipse</li>
    <li>HLS</li>
    <li>MSS (Microsoft Smooth Streaming)</li>
    <li>Agile</li>
</ul>
