<div class="project_content">

<!-- The sidebar -->
 <div class="sidebar">
    <a [routerLink]='"."' fragment="content-top" class="active">Networks</a>
    <a [routerLink]='"."' fragment="delivery">Delivery</a>
    <a [routerLink]='"."' fragment="scope">Scope of projects</a>
</div>

<!-- Page content -->
<div class="content">

<h1 id="content-top">Video</h1>

<h2 id="delivery">Delivery</h2>


<h2 id="scope">Scope of my projects</h2>

<h4>Codification of audiovisual streams</h4>
<h4>Content Delivery Networks</h4>

</div>

</div>