.lang-card {
    height: 100%;
    flex-grow: 1;
}

#languages {
    display: flex
}


@media screen and (max-width: 700px) { 

    #languages {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 400px) {

    #languages {
        flex-wrap: wrap;
    }
}