(Using CEFR guidelines for levels)
<br>
<div id="languages">

    <p-card class="lang-card">
        <ng-template #header>
            <span class="lang-card-header">Spanish</span>
        </ng-template>
        Native speaker
    </p-card>
    
    <p-card class="lang-card">
        <ng-template #header>
            <span class="lang-card-header">English</span>
        </ng-template>
        C2
    </p-card>
    
    <p-card class="lang-card">
        <ng-template #header>
            <span class="lang-card-header">French</span>
        </ng-template>
        B2
    </p-card>
    
    <p-card class="lang-card">
        <ng-template #header>
            <span class="lang-card-header">German</span>
        </ng-template>
        B1
    </p-card>

</div>