.top {
    display: flex;
}

.text-section {
    background-color: #d2f1ed;
}

.attention-getter {
    border: 1px solid #d1eda6;
    width: 100%
}

.photo {
    border: 3px solid #000000;
    display: flex;
}

.attention-getter-text {
    margin: 1em
}

#presentation {
    margin: 1em
}

.medium {
    display: flex;
}

.medium-split {
    height: 100%;
    width: 50%;
}

#background {
    margin: 1em
}

.colorado-image {
    width: 100%;
}

.charts-row {
    display: flex
}

.chart-item-box {
    text-align: center
}



