<div class="project_content common-bg">

<!-- The sidebar -->
 <div class="sidebar">
  <a [routerLink]='"."' fragment="content-top" class="active">EMV</a>
  <a [routerLink]='"."' fragment="introduction">What is EMV?</a>
  <a [routerLink]='"."' fragment="problem">The problem: context & objectives</a>
  <a [routerLink]='"."' fragment="areas">Areas of activity</a>
  <a [routerLink]='"."' fragment="features">Features</a>
  <a [routerLink]='"."' fragment="keywords">Keywords</a>
</div>

<!-- Page content -->
<div class="content">


<h1 id="content-top">EMV</h1>

<table id="top-table">
    <tr>
      <th>Context</th>
      <th>Airport Pay</th>
    </tr>
    <tr>
        <td>Framework</td>
        <td>Research & Development in: Payments - Travel & Tourism</td>
    </tr>
    <tr>
      <td>Dates</td>
      <td></td>
    </tr>
    <tr>
      <td>Activity summary</td>
      <td>Airport Pay evolution: EMV product</td>
    </tr>
</table>

<h2 id="introduction">What is EMV?</h2>

<h3>The standard</h3>

<h3>Distribution channels and merchants</h3>

<h2 id="problem">The problem: context & objectives</h2>

<h3>Complexity</h3>

<h2 id="areas">Areas of activity</h2>

<h2 id="features">Developed features</h2>

<h3>Integration with partners and schemes</h3>
FIS (Premmier Inn), Mastercard, Ingenico, etc.

<h3>Modern functionalities</h3>
<h4>DCC (Dynamic Currency Conversion)</h4>
<h4>Business intelligence AppEvents</h4>

<h3>Maintenance, support and evolution</h3>

<h2 id="keywords">Keywords (tools & techniques)</h2>

<ul>
    <li></li>
</ul>

</div>

</div>