#table {
    width:50%;
    border-collapse: collapse;
  }

  #table > tr > th, td {
      border: 1px solid black;
  }

  #table > tr > th  {
    background-color: #e0ebfa;
  }

  #table > tr > td {
    background-color: #f4f8fd;
  }