<div class="project_content common-bg">

<!-- The sidebar -->
 <div class="sidebar">
  <a [routerLink]='"."' fragment="content-top" class="active">EMV</a>
  <a [routerLink]='"."' fragment="introduction">Introduction</a>
  <a [routerLink]='"."' fragment="problem">The problem: context & objectives</a>
  <a [routerLink]='"."' fragment="areas">Areas of activity</a>
  <a [routerLink]='"."' fragment="development">Develpment</a>
  <a [routerLink]='"."' fragment="keywords">Keywords</a>
</div>

<!-- Page content -->
<div class="content">


<h1 id="content-top">EMV</h1>

<table id="top-table">
    <tr>
      <th>Context</th>
      <th>Airport Pay</th>
    </tr>
    <tr>
        <td>Framework</td>
        <td>Research & Development in: Payments - Travel & Tourism</td>
    </tr>
    <tr>
      <td>Dates</td>
      <td>7th May 2018 - Ongoing</td>
    </tr>
    <tr>
      <td>Activity summary</td>
      <td>Airport Pay evolution: EMV product</td>
    </tr>
</table>

<h2 id="introduction">What is EMV?</h2>

<h3>What is EMV?</h3>
<p>
  EMV is both a payment method and an interoperability standard (the acronym stands for the three initial companies that developed it: Europay, Mastercard and Visa). 
</p>
<p>
  EMV standardizes the technical methods for smart payment cards (which include integrated circuit chips), payment terminals (POS: Point Of Sale) and automated teller machines (ATM).
</p>
<p>
  More information on
  <a href="https://en.wikipedia.org/wiki/EMV" target="_blank">Wikipedia</a> and
  <a href="https://www.emvco.com/" target="_blank">EMVCo</a>
  (organism currently in charge of the specifications).
</p>

<h3>What is Airport-Pay?</h3>
  <p>
    Amadeus Airport Pay is an Amadeus solution which is: the only 
    <a href="https://www.aiqconsulting.com/industry-news/cute-and-cuss-how-does-common-use-equipment-give-airport-operators-more-flexibility/" target="_blank">CUTE</a>-independent,
    multi-merchant enabled,
    <a href="https://amadeus.com/en/industries/airlines/altea-suite" target="_blank">Áltea</a>-DCS integrated (DCS: Departure Control System),
    EMV payment solution for airlines and ground handlers.
    That's why EMV component is a core component in the solution.
  </p>
  <p>
    It means that it allows these merchants to accept EMV chip card payments anywhere at the airport, in any airport worldwide, which is completely independent of the shared environment.
  </p>
  <p>
    For instance, paying for ancillary services can be a painful experience for the traveller, as without the solution cardholders have to physically visit the sales desk and handover the card for using less secure paymeny methods.
    In addition without it, being
    <a href="https://en.wikipedia.org/wiki/Payment_Card_Industry_Data_Security_Standard" target="_blank">PCI-DSS</a> compliant is much more difficult for airlines.
  </p>
  <p>
    At kiosks, the solution offers the integration with the DCS and the reservation system of the merchant.
  </p>
  <p>
    It applies to travellers with EMV chip cards or EMV compliant mobile wallets.
    The cards accepted are: Visa, MasterCard, American Express, Diners Club, Girocard, ...
  </p>
  <p>
    Deploy quicker and more ancillary sales conversion.
  </p>
  <p>
    It gives the merchant the flexibility to choose its own bank as well.
  <p>
    PCI DSS (Payment Card Industry Data Security Standards). Credit card data fully encrypted and decrypted, Diagram of slide 8.
  </p>
  <p>
    It offers the next desirable features:
  </p>
  <ul>
    <li>Supported functionalities: payment transactions, EMV cards, magstripe cards, monetary compensayions (credit transactions), NFC contactless payments, wallet payments, DCC, (installments not supported in 2017).</li>
    <li>Wireless POS devices.</li>
    <li>Can enrich payment processes (HOT, daily report, etc.) with EMV data.</li>
    <li>Amadeus (several options) or merchant frontends (via web services).</li>
    <li><a href="https://en.wikipedia.org/wiki/Passenger_name_record"  target="_blank">PNR</a> integrated.</li>
    <li>Supports on-line and pin-offline PIN verification.</li>
    <li>Multi-environment: multi-merchant, multi-acquirer, multi-currency and multi-language.</li>
    <li>Applicable to attended (DCS, ticket ofice) and unatteded (kiosk) POS.</li>
    <li>Applicable to wired or wireless (GPRS) POS (e.g. mPOS: Mobile POS for roaming agents with tablets).</li>
    <li>Receipt printing.</li>
  </ul>
  <p>
    <i>TODO:</i>Simulate slide 11: channels supported.
  </p>

<h2 id="problem">The problem: context & objectives</h2>

<h3>Complexity</h3>
<p>
  To enable such card acceptance services to customers (airlines mainly), there are several factors that increase the complexity of any solution.
  Airport-Pay has to tackle them: EMV standard, partner integrations, other system integrations, distribution channels, merchant configurations, etc.
</p>

<p>
  EMV standard demands support for:
</p>
<ul>
  <li>Different technologies in payment cards: magnetic stripe, NFC, chip and pin, etc.</li>
  <li>Distinct kinds of processings: online and offline PIN validation, online and offline authorization, dynamic currency conversion, encryption-decryption algorithms, etc.</li>
  <li>Specificities of payment schemes.</li>
</ul>
<p>
  Partner integrations:
</p>
<ul>
  <li>Distinct payment devices by distinct providers (e.g. portable terminals, kiosks or unattended terminals, ...).</li>
  <li>Connections to POS through gateway (e.g. ticket delivery system) or directly.</li>
  <li>Different flows applicable or not depending on the kind of terminal.</li>
</ul>
<p>
  Other system integrations:
</p>
<ul>
  <li>Communications with front-ends.</li>
  <li>Communication with specialized components (backends for authorization, cryptographic operations, gateways for currency conversion, etc.).</li>
  <li>Networks (IPs, firewalls, etc).</li>
  <li>BI systems.</li>
  <li>Others.</li>
</ul>
<p>
  Distribution channels and merchant configurations:
</p>
<ul>
  <li>Given that terminals will be associated to offices, configuration of the office is required (control and financial links, currencies and merchants allowed, ...) </li>
  <li>Given that customers operate globally and have diverse business needs, several business rules have to be configured (e.g. currency conversions allowed).</li>
</ul>

<h3>Objectives</h3>

<ul>
  <li>Architecture that facilitates new integrations (features, systems, flows, etc.) and requires minimal mintenance.</li>
  <li>Very high quality: as failure usually increase costs for every stakeholder and might prevent the passenger from travelling and the airline from being paid.</li>
  <li>High cohesion and minimal coupling of the EMV backend.</li>
</ul>

<h2 id="areas">Areas of activity</h2>

<p>
  Development and maintenance of functionalities for Airport Pay in relation to POS whose devices operate with and without EMV technology.
</p>

<h2 id="development">Development</h2>

<h3>Integration with partners (PSPs, schemes, airlines)</h3>

<p>
  Examples:
</p>

<table id="top-table">
  <tr>
    <th>POS providers</th>
    <th>PSPs</th>
    <th>Schemes</th>
    <th>Airlines</th>
  </tr>
  <tr>
    <td>
      <ul>
        <li>FIS (Premier Inn).</li>
        <li>Ingenico.</li>
        <li>Sita.</li>
        <li>Concardis (kiosks).</li>
        <li>Lufthansa kiosks.</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>FIS (Premier Inn).</li>
        <li>Worldpay.</li>
        <li>Concardis?</li>
        <li>Ingenico.</li>
        <li>Sita.</li>
        <li>Lufthansa kiosks.</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Vista</li>
        <li>MasterCard</li>
        <li>Diners</li>
        <li>JCB</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Lufthansa</li>
        <li>AirFrance</li>
        <li>KLM</li>
        <li>Japan Airlines</li>
      </ul>
    </td>
  </tr>
</table>

<h3>Modern functionalities</h3>

<h4>Dynamic Currency Conversion (DCC)</h4>
<p>
  It is a feature applicable in foreign exchange (FX) payments: the POS is configured with a local currency different that the currency set
  in cardholder's card and offers the cardholder to choose one of these currencies for the payment (commissions vary depending on the elected currency).
</p>

<h4>Business intelligence (BI) AppEvents</h4>
<p>
  At key stages of the payment with a POS, the EMV backend generates events containing EMV-related data.
  Such events are used to feed Amadeus products that aggregate business intelligence information interesting for both
  Amadeus and customers.
</p>

<h4>Kibana events</h4>
<p>
  Similar to BI events, but feeding Kibana and having only Amadeus as stakeholder.
  Data and events generated can differ from BI events.
</p>

<h3>Maintenance, support and evolution</h3>
<ul>
  <li>Analysis of bugs and implementation of fixes.</li>
  <li>Evolution of CI/CD systems (e.g. Amadeus Cloud Services, Jenkins, ...).</li>
  <li>Refactorizations.</li>
  <li>Improvement of test suite.</li>
  <li>Tooling (some proposals and implementations).</li>
</ul>

<h3>Others</h3>
<ul>
  <li>Understood Multicurrency-Pricing (MCP).</li>
  <li>Learned and worked with the operations environment of Amadeus (Change Control Board, delivery pipeline phases, etc.).</li>
  <li>Learned and collaborated with the transition of Amadeus to cloud and virtualization (Amadeus Cloud Services).</li>
  <li>Alignment of database.</li>
  <li>Tests for local development environment.</li>
</ul>

<h2 id="keywords">Keywords</h2>

<p>
  Technologies: EMV, EDIFACT, ISO20022, Web Services, Open Backend, Cloud, SQL, Python, C++, Linux.
</p>
<p>
  Tools: Test Tool Server (TTS), Oracle Database, SQL Developer, Sentinel, Win@pproach, Eclipse, Atom, Visual Studio Code, Notepad++
</p>
<p>
  Procedures: Payment Authorization, Link implementation, Change Control Board, complex production pipeline (more than 8 phases), change-protection frameworks.
</p>

</div>

</div>