<div class="project_content common-bg">

<!-- The sidebar -->
 <div class="sidebar">
  <a [routerLink]='"."' fragment="content-top" class="active">Tokenization</a>
  <a [routerLink]='"."' fragment="problem">The problem: context & objectives</a>
  <a [routerLink]='"."' fragment="areas">Areas of activity</a>
  <a [routerLink]='"."' fragment="development">Development</a>
  <a [routerLink]='"."' fragment="keywords">Keywords</a>
</div>

<!-- Page content -->
<div class="content">

<h1 id="content-top">Tokenization</h1>

<span style="color: red; font-weight: bold;">
  <small>&#9888;</small> Warning: this page is a work in progress (draft).
</span>
<br>

<table id="proj-top-table">
    <tr>
      <th>Context</th>
      <th>Tokenization of Payment Data</th>
    </tr>
    <tr>
        <td>Framework</td>
        <td>Research & Development in: Payments - Travel & Tourism</td>
    </tr>
    <tr>
      <td>Dates</td>
      <td>TODO</td>
    </tr>
    <tr>
      <td>Activity summary</td>
      <td>TODO</td>
    </tr>
</table>



<h2 id="problem">The problem: context & objectives</h2>

<p>
  Tokenization, when applied to data security, is the process of substituting a sensitive data element with a non-sensitive equivalent, 
  referred to as a token, that has no intrinsic or exploitable meaning or value.
</p>
<p>
  Tokenization has become then a technology to secure payments data, becoming a key element in the payment ecosystem specially because 
  it is demanded nowadays by several security norms (e.g. PCI DSS, rules from Royal Bank of India, ...).
</p>
<p>
  On one hand, this has led to the development of specialized tokenization solutions in-house.
  On the other hand, this has fostered the integrations with multiple providers of token-related services, 
  posing new challenges to clients who have to implement tokenization. 
</p>
<p>
  In particular, using tokens rather than payment cards involve a set of operations: tokenization, detokenization, retokenization, 
  token vault management, token lifecycle management, retrieval of associated security data, etc.
</p>
<p>
  Diverse applications and solutions have emerged given the different contexts in which the technology is applied.
  Some of those where I have contributed have their focus on:
</p>
<ul>
  <li>Protecting the data communicated, processed and stored by internal systems.</li>
  <li>Providing interception and vault capabilities, plus the previous, to external systems.</li>
  <li>Ensuring PCI DSS compliance of customer flows (e.g. HTTP messages, files -batch processes-).</li>
  <li>Facilitating the integrations of customers with tokenization solutions (internal or external) and in a flexible way.</li>
  <li>Migrating tokens of a type to tokens of a different type.</li>
</ul>

<h2 id="areas">Areas of activity</h2>
<ul>
  <li>TODO</li>
</ul>


<h2 id="development">Development</h2>
<p>Tokenizer Gateway provides clients an implementation alternative that is, firstly, more adaptable to global presence and changing business needs, and secondly, easy to configure and maintain</p>
<ul>
  <li>TODO.</li>
</ul>


<h2 id="keywords">Keywords</h2>
<p>
  Technologies: Java, Quarkus, Kubernetes, Open Backend, Cloud, SQL, Python, C++, Linux
</p>
<p>
  Tools: Kubernetes, OpenShift, Jenkins, SonarQube, Oracle Database, SQL Developer, Win@pproach, Visual Studio Code.
</p>
<p>
  Procedures: TODO
</p>




</div>

</div>