<h1>Acquiring</h1>

<table id="top-table">
    <tr>
      <th>Context</th>
      <th>Acquiring Orchestration at Payment Ecosystem</th>
    </tr>
    <tr>
        <td>Framework</td>
        <td>Research & Development in: Payments - Travel & Tourism</td>
    </tr>
    <tr>
      <td>Dates</td>
      <td></td>
    </tr>
    <tr>
      <td>Activity summary</td>
      <td>Development of Minimum-Value-Product (MVP)</td>
    </tr>
</table>



<h2>The problem: context & objectives</h2>

<h3>Benefits of acquiring orchestration</h3>

<h3>Complexity</h3>

<h4>Involvement needs</h4>
Modules...

<h2>Areas of activity</h2>

<h2>Developed features</h2>
Authorization, clearing, source summary, settlement, chargeback.
