<div class="project_content">

<!-- The sidebar -->
 <div class="sidebar">
    <a [routerLink]='"."' fragment="content-top" class="active">Payments</a>
    <a [routerLink]='"."' fragment="lifecycle">Payment lifecycle</a>
    <a [routerLink]='"."' fragment="entities">Participant entities</a>
    <a [routerLink]='"."' fragment="flows">Main flows</a>
    <a [routerLink]='"."' fragment="scope">Scope of projects</a>
</div>

<!-- Page content -->
<div class="content">






<h1 id="content-top">Payments</h1>

<h2 id="lifecycle">Life cycle of a payment transaction</h2>

<p>
    Looking for an introduction to payment technologies? Next I provide a short view of key concepts needed to understand the projects where I worked: participant entities and main flows in a payment transaction.
</p>

<h3 id="entities">Participant entities</h3>

<h4>Cardholder</h4>


<h4>Issues</h4>
<h4>Merchant</h4>
<h4>Acquirer</h4>
<h4>Scheme/Card association</h4>
<h4>Processor</h4>
<h4>Payment Service Provider (PSP)</h4>
<h4>Clearing Houses</h4>



<h3 id="flows">Main flows</h3>
<h4>Authorization (& pre-authorization)</h4>
<h4>Payment confirmation</h4>
<h4>Reversals, cancellation, refund and credit</h4>
<h4>Capture (Transaction Submission)</h4>
<h4>Clearing and settlement</h4>
<h4>Billing</h4>
<h4>Disputes (e.g. chargeback)</h4>

<h2 id="scope">Scope of my projects</h2>

<h4>EMV</h4>
<h4>Acquiring</h4>
<h4>Amadeus</h4>


<br>

Branch/Site: Amadeus Payments
Start date: 5/2018


Different products for the payment ecosystem offered by Amadeus (7th May 2018 - Ongoing):
- Backend for dealing with EMV devices for tourism & travel sector (7th May 2018 - Ongoing)
- Backend for performing acquiring orchestration (25th March 2020 - Ongoing)


Tools & Techniques (Keywords)
Keywords

1 - EMV
2 - EDIFACT
3 - Test Tool Server
4 - Amadeus
5 - ISO20022
6 - Oracle Database
7 - TTS
8 - Sentinel
9 - Cloud
10 - Open Backend
11 - Win@pproach
12 - SQL
13 - Python
14 - C++
15 - Eclipse
16 - Atom
17 - Notepad++
18 - Linux 



Mission Environment (according to ACM)
Business Department
*

    Research & Development

Product/Service
*

    Financial services - Payments Means

Segment
*

    Financial services - Retail Banking

Areas of Activities
Activities Performed (up to 3)
*

1 - Consulting - Technical
2 - Development

    3 - Integration, test & validation

Skill Areas
Skill Areas (up to 3)
*

1 - Intelligent Systems - Silicon design - Back end implementation
2 - Product Design & Innovation - Innovation Strategy & Management - Innovation Strategy
3 - Product Design & Innovation - Product, Service & Business Model Creation - Product Design & development 


Context and objectives:

Development and maintenance of functionalities for POS (Point-Of-Sale) devices that operate with EMV technology.
Development of MVP for providing Amadeus with acquiring orchestration capabilities.

Travel & tourism sector (customers: airlines, hotels, etc.)







Approach & achievements

- Learned and managed the different phases of a payment.


EMV:

- Integration with FIS (Premier Inn).
- Integration with Concardis.
- Integration with Ingenico.
- Integration with Lufthansa kiosks.

- Integration of Dynamic Currency Conversion (DCC) functionality. Understood Multicurrency-Pricing (MCP).
- Learned and worked with the operations environment of Amadeus (Change Control Board, delivery pipeline phases, etc.)
- Learned and collaborated with the transition of Amadeus to cloud and virtualization (Amadeus Cloud Services).
- Alignment of database.

- Tests for local development environment.


Acquiring Orchestration:

- Integration with RS2 (payment apture flow).

- Tests for local development environment.



Results & Added Value



</div>

</div>