<div class="project_content common-bg">

<!-- The sidebar -->
 <div class="sidebar">
  <a [routerLink]='"."' fragment="content-top" class="active">Acquiring</a>
  <a [routerLink]='"."' fragment="problem">The problem: context & objectives</a>
  <a [routerLink]='"."' fragment="areas">Areas of activity</a>
  <a [routerLink]='"."' fragment="features">Features</a>
</div>

<!-- Page content -->
<div class="content">

<h1 id="content-top">Acquiring</h1>

<table id="top-table">
    <tr>
      <th>Context</th>
      <th>Acquiring Orchestration at Payment Ecosystem</th>
    </tr>
    <tr>
        <td>Framework</td>
        <td>Research & Development in: Payments - Travel & Tourism</td>
    </tr>
    <tr>
      <td>Dates</td>
      <td>25th March 2020 - Ongoing</td>
    </tr>
    <tr>
      <td>Activity summary</td>
      <td>Development of Minimum-Value-Product (MVP) in charge of acquiring information</td>
    </tr>
</table>



<h2 id="problem">The problem: context & objectives</h2>

<h3>Benefits of acquiring orchestration</h3>

<h3>Complexity</h3>

<h4>Involvement needs</h4>
Modules...

<h2 id="areas">Areas of activity</h2>

<h2 id="features">Developed features</h2>
Authorization, clearing, source summary, settlement, chargeback.



Development of MVP for providing Amadeus with acquiring orchestration capabilities.

Travel & tourism sector (customers: airlines, hotels, etc.)



Acquiring Orchestration:

- Integration with RS2 (payment capture flow).

- Tests for local development environment.



<h2 id="keywords">Keywords</h2>

<p>
  Technologies: Record file processing, batch job management, Web Services, Open Backend, SQL, Python, C++, Linux.
</p>
<p>
  Tools: Test Tool Server (TTS), Oracle Database, SQL Developer, Sentinel, Win@pproach, Eclipse, Atom, Visual Studio Code, Notepad++
</p>
<p>
  Procedures: Capture, Settlement and Chargeback for a payment, Change Control Board, complex production pipeline (more than 8 phases), change-protection frameworks.
</p>


</div>

</div>