<br>
<p>Updated: date</p>

<p-toast [style]="{marginTop: '0px'}"></p-toast>

<p-panel>
    <p-header>
        <span class="ui-panel-title">CAREER GOAL</span>
    </p-header>
    Design, develop and deploy innovative engineering systems and services by combining multimedia, electronic and telematic technologies.
</p-panel>

<p-panel>
    <p-header>
        <span class="ui-panel-title">MAIN EDUCATION</span>
    </p-header>
    <app-education></app-education>
</p-panel>

<p-panel>
    <p-header>
        <span class="ui-panel-title">PROFESSIONAL EXPERIENCE</span>
    </p-header>
    <app-professional-experience></app-professional-experience>
</p-panel>

<p-panel>
    <p-header>
        <span class="ui-panel-title">LANGUAGES</span>
    </p-header>
    <app-languages></app-languages>
</p-panel>

<p-panel>
    <p-header>
        <span class="ui-panel-title">AWARDS</span>
    </p-header>
    <h3>“Best End-of-Degree Project with National Instruments technologies”</h3>
    <p>National Instruments awarded my project “Measurement and automated control system to characterize magnetic elements” (July 5, 2012). Such project required skills in software engineering, electronic instrumentation, data acquisition and data analysis.</p>

</p-panel>

<p-panel>
    <p-header>
        <span class="ui-panel-title">SOFTWARE ENGINEERING TOOLS</span>
    </p-header>
</p-panel>

<p-panel>
    <p-header>
        <span class="ui-panel-title">COMPLEMENTARY COURSES</span>
    </p-header>
</p-panel>

<p-panel>
    <p-header>
        <span class="ui-panel-title">ACTIVE PARTICIPATION</span>
    </p-header>
</p-panel>

<p-panel>
    <p-header>
        <span class="ui-panel-title">ADDITIONAL DATA</span>
    </p-header>
    Driving license: European B license (full clean).
    <br>
    Willingness to travel: yes (internationally when required).
</p-panel>
