.ui-panel-title {
    font-size:16px;
    display:inline-block;
    margin-top:2px
}

.courseList {
    padding-top: 1em;
    padding-bottom: 1em;
}

.skillsList {
    display: flex;
    flex-wrap: wrap;
}


.award-content {
    display: flex;
    justify-content: space-between;
}

.award-left {
    width: 80%
}

.award-right {
    max-width: 20%;
    flex-direction: column;
    align-content: space-between;

}

.award-publications {
    padding-left: 1em;
    padding-right: 1em;
}


.logo {
    width:150px;
    height:auto;
    margin-bottom: 1em;
}


.skill-h {
    color: hsl(262, 100%, 32%);
}

.skill-m {
    color: hsl(242, 100%, 50%);
}

.skill-ml {
    color: hsl(232, 100%, 50%);
}

.skill-l {
    color: hsl(210, 100%, 50%);
}