<div id="contact-layout" class="common-bg">
    
    <div id="contact-layout-left">
        <p-card class="form-card">
            <app-contact-form></app-contact-form>
        </p-card>

        <br>

        <p-card class="social-network-card">
            <div id="external-links">
                <div class="link-text">
                    <a href="https://www.linkedin.com/in/danielglg/?locale=en_US" target="_blank">
                        LinkedIn
                    </a> 
                </div>
                <div class="link-text">
                    <a href="https://github.com/danielglg" target="_blank">
                        GitHub
                    </a> 
                </div>
                <div class="link-text">
                    <a href="https://bitbucket.org/danielglobog/" target="_blank">
                        Bitbucket
                    </a> 
                </div>
            </div>
        </p-card>

        <br>
        <br>

    </div>

    <div id="contact-layout-right">
        
        <p-card header="Current location" class="general-card">
            <p>
                Madrid, Spain
            </p>
            <br>
            <img class="madrid-map" src="assets/img/placeholder/Madrid-map.jpg" alt="Map: Madrid">

        </p-card>
        

    </div>

</div>