#contact-layout {
    display: flex;
    
}

#contact-layout-left {
    width: 50%;
}

#contact-layout-right {
    width: 50%;
}

.general-card {
    flex-grow: 1
}

.social-network-card {
    flex-grow: 1
}

.madrid-map {
    max-width:100%;
    object-fit: contain;
}

#external-links {
    display: flex;
    justify-content: space-around;
}

.link-text {
    font-weight: bold;
    font-size: large;
    padding: 0.2em;
    border-radius: 10%;
}

.link-text:hover:not(.active) {
    background-color: #ccc;
    color: white;
}