#system-diagram {
    display: flex;
}

#system-diagram-left {
    width: 40%;
}

#system-diagram-right {
    width: 65%;
    text-align: center;
}

#system-instrumentation {
    display: flex;
}

#img-instrumentation {
    margin: 0.5em;
}

#diagrams-architecture {
    text-align: center;
}

#diagrams-architecture > img {
    width:60%;
}

#img-managers-loaders {
    display: flex;
}

#img-managers-loaders > img {
    width: 50%;
    padding: 1em;
}

#gui-examples {
    display: flex;
    justify-content: space-between;
}

#img-gui {
    width: 700px;
}


@media screen and (max-width: 700px) {
    #system-diagram {
        flex-wrap: wrap;
    }
    
    #system-diagram-left {
        width: 100%;
    }
    
    #system-diagram-right {
        width: 100%;
    }

    #system-instrumentation {
        flex-wrap: wrap;
    }

    #diagrams-architecture > img {
        width:100%;
    }
    
    #img-managers-loaders {
        flex-wrap: wrap;
    }

    #img-managers-loaders > img {
        width: 100%;
    }

    #gui-examples {
        flex-wrap: wrap;
    }
    
    #img-gui {
        width: 100%;
    }

    img {
        width:100%;
    }
}


@media screen and (max-width: 400px) {
    #system-diagram {
        flex-wrap: wrap;
    }
    
    #system-diagram-left {
        width: 100%;
    }
    
    #system-diagram-right {
        width: 100%;
    }

    #system-instrumentation {
        flex-wrap: wrap;
    }

    #diagrams-architecture > img {
        width:100%;
    }

    #img-managers-loaders {
        flex-wrap: wrap;
    }

    #img-managers-loaders > img {
        width: 100%;
    }

    #gui-examples {
        flex-wrap: wrap;
    }
    
    #img-gui {
        width: 100%;
    }

    img {
        width:100%;
    }
} 