<div class="project_content">
 
 <!-- The sidebar -->
 <div class="sidebar">
    <a [routerLink]='"."' fragment="content-top" class="active">Networks</a>
    <a [routerLink]='"."' fragment="core">Core network</a>
    <a [routerLink]='"."' fragment="radio">Radio network</a>
    <a [routerLink]='"."' fragment="scope">Scope of projects</a>
  </div>
  
  <!-- Page content -->
  <div class="content">


<h1 id="content-top">Networks</h1>

<h2 id="core">The core network</h2>

<h2 id="radio">The radio network</h2>

<h2 id="scope">Scope of my projects</h2>

Approach & Achievements

Work packages with participation:

- Diameter interface Rx - RxRequest AVP
- External Database Redundancy N+N+N

- N+K (division in frontend and backend for scaling SAPC and redundancy)

<h4>PCRF Balancer</h4>

</div>

</div>
