<div class="project_content common-bg">
 
 <!-- The sidebar -->
 <div class="sidebar">
  <a [routerLink]='"."' fragment="content-top" class="active">PCRF</a>
  <a [routerLink]='"."' fragment="introduction">What is a PCRF?</a>
  <a [routerLink]='"."' fragment="problem">The problem: context & objectives</a>
  <a [routerLink]='"."' fragment="areas">Areas of activity</a>
  <a [routerLink]='"."' fragment="features">Features</a>
  <a [routerLink]='"."' fragment="keywords">Keywords</a>
</div>

<!-- Page content -->
<div class="content">

<h1>PCRF Balancer</h1>

<table id="proj-top-table">
    <tr>
      <th>Context</th>
      <th>Service-Aware Policy Controller (SAPC), the Ericsson's PCRF</th>
    </tr>
    <tr>
        <td>Framework</td>
        <td>Research & Development in: Telecom - Core Network</td>
    </tr>
    <tr>
      <td>Dates</td>
      <td>24th April 2017 - 6th May 2018</td>
    </tr>
    <tr>
      <td>Activity summary</td>
      <td>SAPC evolution: load balancing interactions with LDAP server</td>
    </tr>
  </table> 

<h2 id="introduction">What is a PCRF?</h2>


<h2 id="problem">The problem: context & objectives</h2>

<p>
    The Ericsson Service-Aware Policy Controller (SAPC) product is conceived based on 3GPP Policy and Charging Rules Function (PCRF). SAPC is responsible for the policy control and charging rules that define the services and applications supported in mobile, fixed and converged telecom networks. SAPC is key to secure the network behavior when users access data services, such as, authorizing the services, assigning the QoS of the data-session and the Charging that shall be applied; and performs a business critical role for monetization and differentiation of operator’s mobile and converged broadband commercial packages.
</p>
<p>
    Being compliant with 3GPP standards, the SAPC is fully inter-operable with other network elements, including Packet Gateways (PGW, GGSN), stand-alone packet inspection nodes (DPI), Application Function (AF), User Data Repositories (UDR) and Charging Systems (CS) units.
</p>

<p>
    The objective of the mission consists on helping Ericsson to evolve SAPC in order to adapt it to the new requirements and technologies of the market (e.g. virtualization, cloud, 5G, etc.).
</p>

<h3>Diameter interface Rx - RxRequest AVP</h3>
<p>
  Basically consisted on fixing an Attribute-Value-Pair (AVP) communicated through the Rx Diameter interface, which is the interface that binds SAPC and AFs.
</p>

<h3>External Database Redundancy N+N+N</h3>

<p>
  <i>TODO To describe the problem of the LDAP</i>
</p>
<p>
  Basically consisted on refactorizing completely the component in charge of communicating SAPC components to an LDAP database.
  The legacy component was based on a pool of connections that could not scale and communications with LDAP server were increasingly failing.
  In addition, the software architecture was not ready for scaling and accomplishing the management algorithm that provided much higher redundancy.
</p>
<p>
  <i>TODO To describe as achievement the improvements that I proposed for the algorithm and the SW architecture.</i>
</p>
<p>
  <i>TODO To describe connection balancing.</i>
</p>

<h3>N+K (division in frontend and backend for scaling SAPC, increment redundancy and move towards a cloud microservice architecture)</h3>
<p>
  <i>TODO To describe the problems of the monolithic legacy application and the challanges to adapt to new times.</i>
  <i>Talk about the automation with Swagger and the functional split, technical debt, ...</i>
</p>

<h2 id="areas">Areas of activity</h2>

1 - Research, Innovation & Watch
2 - Development
3 - Integration, test & validation

Skill Areas
Skill Areas (up to 3)
*

1 - Digital Applications & Media - Software application development - Custom application
2 - Networks transformation & performance - Telco Cloud & Software Defined Networking (SDN) - Network Function Virtualization (NFV) Networking
3 - Networks transformation & performance - Telco Cloud & Software Defined Networking (SDN) - Software Defined Networking (

<h2 id="features">Developed features</h2>

  <i>Describe design</i>

<h2 id="keywords">Keywords (tools & techniques)</h2>

<ul>
    <li>3GPP</li>
    <li>PCRF</li>
    <li>Software Engineering</li>
    <li>Diameter</li>
    <li>Continuous Integration</li>
    <li>TTCN-3</li>
    <li>C/C++</li>
    <li>Java 8</li>
    <li>Python</li>
    <li>Bash</li>
    <li>Cmake</li>
    <li>Jenkins</li>
    <li>UNIT TESTING</li>
    <li>JUNIT</li>
    <li>CppUnit</li>
    <li>OPEN API</li>
    <li>Swagger</li>
    <li>Linux</li>
    <li>Mockito</li>
    <li>Google Mock</li>
</ul>

</div>

</div>