
<div class="container">

    <div class="title">
        <h1 >Contact Form</h1>
    </div>

    <div [hidden]="submitted">
        <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
            <div class="form-group">
                <label for="name">Name</label>
                <br>
                <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel" placeholder="Your Name">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    Name is required.
                </div>
            </div>
            <br>

            <div class="form-group">
                <label for="emailAddress">E-mail</label>
                <br>
                <input type="email" class="form-control" id="emailAddress" required [(ngModel)]="model.mailAddress" name="emailAddress" #emailAddress="ngModel" placeholder="Your E-mail">
                <div [hidden]="emailAddress.valid || emailAddress.pristine" class="alert alert-danger">
                    E-mail address is required.
                </div>
            </div>
            <br>

            <div class="form-group">
                <label for="subject">Subject</label>
                <br>
                <input type="text" class="form-control" id="subject" [(ngModel)]="model.subject" name="subject">
            </div>
            <br>

            <div class="form-group">
                <label for="message">Message</label>
                <br>
                <textarea type="textarea" class="form-control" id="message" rows=25 required [(ngModel)]="model.message" name="message" #message="ngModel" placeholder="What's on your mind?"></textarea>
                <div [hidden]="message.valid || message.pristine" class="alert alert-danger">
                    Message is required.
                </div>
            </div>
            <br>

            <button type="submit" class="btn btn-success form-button" [disabled]="!contactForm.form.valid">Submit</button>
        </form>
    </div>

    <div [hidden]="!submitted">
        <h2>You submitted the following:</h2>
        <div class="row">
            <div class="col-xs-3">Name</div>
            <div class="col-xs-9">{{ model.name }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">E-mail</div>
            <div class="col-xs-9">{{ model.mailAddress }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Subject</div>
            <div class="col-xs-9">{{ model.subject }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">E-mail</div>
            <div class="col-xs-9">{{ model.message }}</div>
        </div>
        <br>
        <button class="btn btn-primary form-button" (click)="submitted=false">Go again to form</button>
    </div>
</div>
