.degree {
    display: flex;
    justify-content: space-between;
}

.degree-details {
    width: 85%;
    display: flex;
    flex-direction: column;
}

.subject-list {
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 0;
    padding-right: 15%;
}

.degree-centre {
    width: 15%;
    display: flex;
}

.logo {
    max-width:100%;
    height:auto;
}

.logo:hover {
    opacity: .6;
}

@media screen and (max-width: 700px) {

    .degree {
        flex-wrap: wrap;
    }
    
    .degree-details {
        width: 100%;
    }

    .subject-list {
        padding-right: 0;
    }

    .degree-centre {
        width: 100%;
    }

    .degree-centre > a {
        max-width:50%;
        height:auto;
    }

    .logo {
        max-width:50%;
        height:auto;
    }
    
}

@media screen and (max-width: 400px) {

    .degree {
        flex-wrap: wrap;
    }
    
    .degree-details {
        width: 100%;
    }

    .degree-centre {
        width: 100%;
    }

    .subject-list {
        padding-right: 0;
    }

    .degree-centre > a {
        max-width:50%;
        height:auto;
    }

    .logo {
        max-width:50%;
        height:auto;
    }
}

