<div class="project_content common-bg">

<!-- The sidebar -->
 <div class="sidebar">
    <a [routerLink]='"."' fragment="content-top" class="active">Embedded systems</a>
    <a [routerLink]='"."' fragment="platforms">Processing platforms</a>
    <a [routerLink]='"."' fragment="codec">Evaluation of video codec</a>
</div>

<!-- Page content -->
<div class="content">

<h1 id="top-table">Embedded systems</h1>

<h2 id="platforms">Processing platforms</h2>
DSP, GPP, FPGA


<h2 id="codec">Evaluation of video codec</h2>

</div>

</div>