.employer {
    display: flex;
    justify-content: space-between;
}

.employer-left {
    width: 80%
}

.employer-right {
    width: 20%;
    flex-direction: column;
    align-content: space-between;

}

.employer-name {
    font-weight: bold;
    font-size: large;
    text-decoration: underline;
}


.customer-card-content {
    display: flex;
    justify-content: space-between;
}

.customer-left {
    width: 80%
}

.customer-right {
    width: 20%;
    flex-direction: column;
    align-content: space-between;

}

.logo {
    max-width:100%;
    height:auto;
    margin-bottom: 1em;
}