.customer-card-content {
    display: flex;
    justify-content: space-between;
}

.customer-left {
    width: 75%
}

.customer-right {
    width: 25%
}

.logo {
    max-width:100%;
    height:auto;
}