<p-panel>
    <p-header>
        <span class="ui-panel-title">R&D engineer and consultant.</span>
    </p-header>
    <div class="employer">
        <div class="employer-left">
            <div class="employer-name">
                ALTRAN
            </div>
            <br>
            10/2015 – Currently
            <br>
            Responsibilities / accomplishments:
            <ol type="disc">
                <li>As a cross-functional software engineer, assisting customers in the development of products by:</li>
                    <ol type="circle">
                        <li>Researching and developing new ideas, technologies and tools.</li>
                        <li>Building software; validating implementations by means of unit, regression and system tests.</li>
                        <li>Maintaining existing solutions, adapting them to new business and technical requirements.</li>
                        <li>Improving software quality by refactoring and tracking technical debt and other metrics.</li>
                        <li>Detecting, debugging and solving problems in software and system integrations.</li>
                        <li>Designing, analyzing, proposing and implementing software architectures.</li>
                        <li>Managing software configuration and its state along the production pipeline.</li>
                        <li>Fostering the adoption of suitable/better working methodologies (adapting Agile, TDD, BDD, etc.).</li>
                        <li>Preparing and carrying out demonstrations and proofs of concept.</li>
                        <li>Training people and explaining solutions.</li>
                        <li>Elaborating documentation and keeping it up to date.</li>
                    </ol>
                <li>Others: carrying out internal R&D activities, preparing innovation audits, mentoring newcomers.</li>
            </ol>
        </div>
        <div class="employer-right">
            <a href="https://www.altran.com/" target="_blank">
                <img class="logo" src="assets/logos/Logo_Altran.png" alt="Logo and link: Altran">
            </a>
        </div>
    </div>

    <br>
    <h3>Customers:</h3>
    <br>
    <div class="customers">
        <p-card header="AMADEUS (Amadeus Payments)" class="customer-card">
            <div class="customer-card-content">
                <div class="customer-left">
                    05/2018 – Currently
                    <br>
                    Product: EMV Payments
                    <br>
                    Key words: payments, travel sector stakeholders, Control Change Board processes, EDIFACT, BI, PCI DSS.
                </div>
                <div class="customer-right">
                    <a href="https://amadeus.com/" target="_blank">
                        <img class="logo" src="assets/logos/Logo_Amadeus.png" alt="Logo and link: Amadeus">
                    </a>
                    <p-splitButton label="Go to payment projects" icon="pi pi-file" (onClick)="goToProjects('payments')" [model]="amadeusItems"></p-splitButton>
                </div>
            </div>
        </p-card>
        
        <p-card header="ERICSSON" class="customer-card">
            <div class="customer-card-content">
                <div class="customer-left">
                    05/2017 – 05/2018
                    <br>
                    Product: Service-Aware Policy Controller (SAPC)
                    <br>
                    Key words: telecom, core network, 3GPP, PCRF, Diameter, 4G, 5G, migration to cloud architecture.
                </div>
                <div class="customer-right">
                    <a href="https://www.ericsson.com/" target="_blank">
                        <img class="logo"src="assets/logos/Logo_Ericsson.png" alt="Logo and link: Ericsson">
                    </a>
                    <p-splitButton label="Go to networks projects" icon="pi pi-file" (onClick)="goToProjects('networks')" [model]="ericssonItems"></p-splitButton>
                </div>
            </div>
        </p-card>
        
        <p-card header="NOKIA / ALCATEL-LUCENT (Video Business Unit)" class="customer-card">
            <div class="customer-card-content">
                <div class="customer-left">
                    10/2015 – 05/2017
                    <br>
                    Product: Velocix Personalization Platform (VPP)
                    <br>
                    Key words: multimedia specifications (HLS, MSS, DASH), Content Delivery Network (Nokia’s CDN), IPTV, content transformation (ad insertion, blackout, alternative content, etc.), HTTP REST APIs, compatibility.
                </div>
                <div class="customer-right">
                    <a href="https://www.nokia.com/" target="_blank">
                        <img class="logo" src="assets/logos/Logo_Nokia.png" alt="Logo and link: Nokia">
                    </a>
                    <p-splitButton label="Go to video projects" icon="pi pi-file" (onClick)="goToProjects('video')" [model]="nokiaItems"></p-splitButton>
                </div>
            </div>
        </p-card>
    </div>

</p-panel>

<p-panel>
    <p-header>
        <span class="ui-panel-title">R&D engineer.</span>
    </p-header>
    <div class="employer">
        <div class="employer-left">
            <div class="employer-name">
                SAPEC & Research group in Image Processing (GTI, Technical University of Madrid)
            </div>
            <br>
            03/2014 – 12/2014
            <br>
            Accomplishments: C++ console application that analyzes coded media files and automates their insertion into a Transport Stream; it was used for video quality tests and proofs of concept in the European project “UltraHD4U” (Eureka network, CATRENE programme). Creation and teaching of a 10 hour course on standard H.265.
            <br>
            Key words: H.265 (HEVC), H.264, AC-3 (DD), E-AC-3 (DD+), MPEG-1 Part 3, MPEG-2 Part 1, quality metrics (PSNR, DMOS, JND, ITU BS.1770, EBU R128), multimedia analyzers, FFmpeg, TSReader, Sapec’s codecs.
        </div>
        <div class="employer-right">
            <a href="http://sapec.es/en/" target="_blank">
                <img class="logo" src="assets/logos/Logo_SAPEC.png" alt="Logo and link: Sapec">
            </a>
            <a href="https://www.gti.ssr.upm.es/" target="_blank">
                <img class="logo" src="assets/logos/Logo_GTI.png" alt="Logo and link: Image Processing Group (GTI)">
            </a>
            <p-splitButton label="Go to project" icon="pi pi-file" (onClick)="goToProjects('video')" [model]="sapecItems"></p-splitButton>
        </div>
    </div>
</p-panel>

<p-panel>
    <p-header>
        <span class="ui-panel-title">Collaborator in research activities.</span>
    </p-header>
    <div class="employer">
        <div class="employer-left">
            <div class="employer-name">
                Research group in Electronic and Microelectronic Design  (GDEM, Technical University of Madrid)
            </div>
            <br>
            10/2012 – 07/2013
            <br>
            Accomplishments: Methodologies for the implementation and distribution of video coding algorithms in multiprocessor systems (GPP, DSP). Software migration. Performance evaluation of different H.265 implementations. Submission of joint research paper to IEEE ESTIMedia.
            <br>
            Key words: RVC, H.265, H.264, Orcc, ARM, DSP (TI DM6437).
        </div>
        <div class="employer-right">
            <a href="https://www.etsist.upm.es/estaticos/gdem/en/index.php.html" target="_blank">
                <img class="logo" src="assets/logos/Logo_GDEM.png" alt="Logo and link: Electronic and Microelectronic Design Group (GDEM)">
            </a>
            <p-splitButton label="Go to project" icon="pi pi-file" (onClick)="goToProjects('video')" [model]="gdemItems"></p-splitButton>
        </div>
    </div>
</p-panel>
